<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="css/owfont-regular.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <title>Weather Report</title>
</head>
<body>
<h1>Weather Report</h1>
<div class="data_block" th:each="weather:${weatherList}">
<p class="big" th:text="${weather.city}">City</p>
<p class="medium" th:text="${weather.temp}+@{${@environment.getProperty('app.weather.unitF')}}">Temp</p>
</div>
</body>
</html>